html {
    height: 100%;
    width: 100%;
}
  
  body{
    background-image: url(wallpaper\ devops.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  p {
    margin-right: 25%;
  }

  h1 {
    color: rgb(125, 125, 125);
    text-align: left;
  }

  h2{
    color: rgb(255, 123, 0);
    text-align: right
  }
  
  nav{
    text-align: center;
    background-color: rgb(255, 123, 0);
    padding: 10px;
  }
  
  nav a{
    color: red;
    padding: 7px;
    border-radius: 15px;
    margin-right: 80px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
  }
  
#cloud-img{
  text-align: center;
  margin: auto;
  display: block;
  margin-bottom: 30px;

}

  nav a:hover {
  
    background-color: #d6d6d6;
    color: black;
  }
  @media screen and (max-width: 600px) {
  nav {
      flex-direction: column;
  } 
}
